<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field" @focus="FilterGoods" v-model="searchLine">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button" @click="onCartBtnClick">Корзина</button>
                <div class="cartBlock" :class="{ invisible: !cartVisible } ">
                    <template v-for=" item of cart.contents">
                        <div class="cart-item " data-id="item.id ">
                            <div class="product-bio ">
                                <img :src="cartImage" alt="Some image">
                                <div class="product-desc ">
                                    <p class="product-title ">{{ item.product_name }}</p>
                                    <p class="product-quantity ">Quantity: {{ item.quantity }}</p>
                                    <p class="product-single-price ">{{ item.price }} each</p>
                                </div>
                            </div>
                            <div class="right-block ">
                                <p class="product-price ">Full:{{ (item.quantity * item.price) }} $</p>
                                <button class="del-btn " data-id="item.id " @click="removeProduct ">&times;</button>
                            </div>
                        </div>    
                    </template>
                    <p>Total: {{ cart.amount }} $ </p>
                </div>
            </div>
        </header>
        <main>
            <div class="products ">
                <template v-for="product of products ">
                    <div class="product-item " v-bind:data-id="product.id ">
                        <img :src="product.image" alt="Some img ">
                        <div class="desc">
                            <h3>{{ product.title }} </h3>
                            <p>{{ product.price }} $</p>
                            <button class="buy-btn " :data-id="product.id " :data-title="product.title " :data-image="product.img " :data-price="product.price" @click="addProduct">Купить</button>
                        </div>
                   </div> 
                </template>
            </div>
        </main>
    </div>


    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js " integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP " crossorigin="anonymous "></script>
    <!-- <script src="js/main.js "></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
    <script defer>
        let list = new Vue({
            el: '#app',
            data: {
                url_goods: 'https://raw.githubusercontent.com/vilkovaekaterina/online-store-api/master/responses/catalogData.json',
                products: [],
                url_cart: 'https://raw.githubusercontent.com/GeekBrainsTutorial/online-store-api/master/responses/getBasket.json',
                cartImage: "https://placehold.it/100x80",
                cart: [],
                filterArr: [],
                searchLine: '',
                cartVisible: false
            },
            methods: {
                getJSON(url) {
                    return fetch(url)
                        .then(d => d.json())
                },

                getProducts() {
                    this.getJSON(this.url_goods)
                        .then(data => {
                            this.products = data
                        })
                },
                getCart() {
                    this.getJSON(this.url_cart)
                        .then(data => {
                            this.cart = data
                        })
                },

                onCartBtnClick() {
                    this.cartVisible = !this.cartVisible
                },

                addProduct(productId) {
                    let find = this.cart.find(element => element.id === productId);
                    if (find) {
                        find.quantity++
                    } else {
                        this.cart.push(this.cartProduct)
                    }
                    this.fullPrice()
                },

                removeProduct(productId) {
                    let find = cart.find(element => element.id === this.productId);
                    if (find.quantity > 1) {
                        find.quantity--;
                    } else {
                        userCart.splice(userCart.indexOf(find), 1);
                    }
                },
                FilterGoods() {
                    this.filterArr = this.products.filter(el => (el.title = this.searchLine))
                }
            },
            mounted() {
                this.getProducts()
                this.getCart()
            }
        })
    </script>
</body>

</html>