* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.main-head {
    width: 100%;
    box-sizing: border-box;
    background-color: #2F4F4F;
    padding: 50px 140px 50px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    width: 150px;
    background-color: #000000;
    padding: 10px 5px 10px 5px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.site-nav {
    width: 450px;
    background-color: #DCDCDC;
}

.header-list {
    display: flex;
}

.header-list-item {
    display: block;
    width: 150px;
    list-style: none;
    text-align: center;
}

.header-link-item {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
}

.btn-cart {
    display: block;
    outline: none;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-cart:hover {
    color: #C0C0C0;
    cursor: pointer;
}

.btn-cart:active {
    color: #2F4F4F;
}

.close-cart {
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 4px;
    outline: none;
    border: solid 1px;
}

.close-cart:hover {
    cursor: pointer;
}

.close-cart:active {
    color: #DCDCDC;
}

.wrap-cart {
    visibility: hidden;
    position: absolute;
    left: 1270px;
    top: 110px;
    width: 250px;
    background-color: #C0C0C0;
    border: solid 1px #000;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.visible {
    visibility: visible;
}

.wrap-item-cart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wrap-item-cart:last-child {
    margin-bottom: 0;
}

.cart-name-product {
    text-align: center;
    font-family: sans-serif;
}

.cart-price-prduct {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
}

.wrap-calc {
    font-family: sans-serif;
}

.cart-sum-product {
    font-size: 20px;
    font-weight: 600;
}

.main-content {
    width: 100%;
    box-sizing: border-box;
    padding: 50px 140px 50px 140px;
    background-color: #DCDCDC;
}

.wrap-product {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.product-item {
    margin-right: 10px;
    margin-bottom: 20px;
}

.name-product-item {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #C0C0C0;
    padding: 5px;
}

.price-product-item {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
    background-color: #2F4F4F;
    padding: 5px;
    color: #fff;
}

.img-product-item {
    display: block;
}

.btn-product-item {
    width: 100px;
    border: none;
    background-color: #000;
    color: #fff;
    display: block;
    padding: 3px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5px;
    outline: none;
}

.btn-product-item:hover {
    color: #C0C0C0;
    cursor: pointer;
}

.btn-product-item:active {
    color: #2F4F4F;
}

.btn-delete-product {
    width: 100px;
    border: none;
    background-color: #fff;
    color: #000;
    display: block;
    padding: 3px;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5px;
    outline: none;
}

.btn-delete-product:hover {
    color: #2F4F4F;
    cursor: pointer;
}

.btn-delete-product:active {
    color: #C0C0C0;
}

.filter {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 20px;
}

.sort {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 20px;
}

.amount {
    margin-top: 20px;
}