<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field" v-model="searchLine">
                    <button class="btn-search" type="submit" @click="filterGoods">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button" @click="showCart">Корзина</button>
                <div class="cart-block" v-show="isVisibleCart">
				    <div class="cart-item" v-for="item in cartItems" :data-id="item.id">
                        <div class="product-bio">
                            <img :src="cartImage" alt="Some image">
                            <div class="product-desc">
                                <p class="product-title">{{item.title}}</p>
                                <p class="product-quantity">Quantity: {{item.quantity}}</p>
                                <p class="product-single-price">${{item.price}}</p>
                            </div>
                        </div>
                        <div class="right-block">
                            <p class="product-price">{{item.quantity * item.price}}</p>
                            <button class="del-btn" @click="removeFromCart(item)" :data-id="item.id">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="products">
				<div class="product-item" v-for="item in products" :data-id="item.id">
                    <img :src="item.image" alt="Some image">
                    <div class="desc">
                        <h3>{{item.title}}</h3>
                        <p>{{item.price}} $</p>
                        <button class="buy-btn" 
                        :data-id="item.id"
                        :data-title="item.title"
                        :data-image="item.img"
                        :data-imagecart="item.cartImage"
                        :data-price="item.price"
                        @click="addToCart(item)">Купить</button>
                    </div>
                </div>
			</div>
        </main>
    </div>
		<script defer type="application/javascript" src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
        <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script type="application/javascript" src="js/main.js"></script>
</body>
</html>
