.errors{
    color: red;
    border: 1px solid red;
}
.button {
    width: 200px;
    padding: 10px;
    background-color: seagreen;
    color: #fff;
}

.test {
    margin: 20px 0;
}

.cover {
    position: relative;
}

.mes {
    position: absolute;
    top: 0;
    left: 120px;
    color: red;
    font-style: italic;
}